*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgcolor: #242424;
    --bgcolor2: #131842;
    --color: 	#e8e8e8;
    --h1: 400;
    --h2: 300;
    --f-pr: "Poppins", serif;
    --txt-sha:  rgba(140,140,140,0.6);
    --txt-sha2: #E68369;
    --box-sha: #ECCEAE;

}

.custom-cursor {
    /* border: 1px solid; */
    height: 2rem;
    width: 2rem;
    background-color: antiquewhite;
    position: fixed;
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .4s ease, height .4s ease;
}

#wrapper {
    background-color: var(--bgcolor);
    background-color: var(--bgcolor2);
    width: 100vw;
    min-height: 100vh;
    color: var(--color);
    font-family: "Poppins", serif;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
}

/* Header */
header {
    grid-column: 2/10;
    text-align: center;
}

.header-title {
    font-size: 1.5rem;
    font-weight: var(--h2);
}

.header-title-rgb {
    font-size: 4rem;
    font-weight: var(--h1);
    font-weight: 200;
    padding: 0;
    line-height: 1.3;
}


/* Stripe */
.operations {
    /* background-color: #8c8c8c; */
    grid-column: 3/9;
    display: grid;
    /* grid-template-columns: 1fr 1fr repeat(4, minmax(min-content, 9rem)) 1fr 1fr; */
    grid-template-columns: 1fr repeat(4, minmax(min-content, 9rem)) 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.new-game {
    /* grid-column: 2/3; */
    grid-column:6/7;
}

.hard{
    /* grid-column:4/5; */
    grid-column: 2/3;
    grid-row: 1/2;
}

.medium {
    /* grid-column:5/6; */
    grid-column: 3/4;
    grid-row: 1/2;
}

.easy {
    /* grid-column:6/7; */
    grid-column: 4/5;
    grid-row: 1/2;
}

.btn {
    padding: 0rem .1rem;
    font-family: var(--f-pr);
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    height: fit-content;
    width: fit-content;
    color: var(--color);
    text-shadow: 4px 4px 2px var(--txt-sha);
    text-shadow: 3px 3px 0px var(--txt-sha2);
    transition: text-shadow .2s ease-in;
    transition: transform .3s ease-in;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    text-shadow:0px 0px 0px #242424;
}

.active {
    color: var(--txt-sha2);
    transform: scale(1.3);
    text-shadow: 0px 0px 10px var(--txt-sha2);
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    grid-column: 2/10;
}

.container-boxes {
    /* border: 1px solid white; */
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.box {
    width: 8rem;
    height: 8rem;
    box-shadow: 4px 4px 7px 0px var(--box-sha);
    transition: all .2s ease-in;
}

.box:hover {
    
box-shadow: 0px 0px 8px 0px var(--box-sha);
}

/* Footer */
footer {
    grid-column: 2/10;
    background-color: bisque;
    color: green;
    /* display: flex;
    justify-content: center;
    gap: 2rem; */
    text-align: center;
}


.footer-copyright {
}

.footer-links {
    /* list-style: none; */
    display: flex;
    gap: .5rem;
    justify-content: center;
}
    .footer-links__link {}











/*
body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    background-color: bisque;
    padding-top: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 18px 6px 18px 6px;
    transition: background 0.8s;
}

h1 {
    color: whitesmoke;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

.color2Guess {
    font-size: 200%;
}


#stripe{
    background-color:white;
    height: 40px;
    text-align: center;
}

.selected {
    background-color: steelblue;
    color: white;
}

button {
    font-family: "Montserrat", "Avenir";
    border-style: none;
    background-color: white;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: 0.8s;
    outline: none;
}

button:hover {
    color: whitesmoke;
    background-color: steelblue;
    cursor: pointer;
}

#rightOrWrong {
    display: inline-block;
    width: 30%;
    color: steelblue;
    font-weight: 600;
} */