*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgcolor: #242424;
    --bgcolor2: #131842;
    --color: 	#e8e8e8;
    --h1: 400;
    --h2: 300;
    --f-pr: "Poppins", serif;
    --txt-sha:  rgba(140,140,140,0.6);
    --txt-sha2: #E68369;
    --box-sha: #ECCEAE;

}

.custom-cursor {
    /* border: 1px solid; */
    height: 2rem;
    width: 2rem;
    background-color: antiquewhite;
    position: fixed;
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .4s ease, height .4s ease;
}

#wrapper {
    border: 5px red solid;
    background-color: var(--bgcolor);
    background-color: var(--bgcolor2);
    background-color: wheat;
    font-family: var(--f-pr);
    height: 100vh;

    display: grid;
    /* grid-template-rows: min-content max-content max-content minmax(min-content, max-content) max-content;
    grid-template-rows: min-content max-content max-content minmax(min-content, 1fr) min-content; */
    /* grid-template-rows: min-content max-content minmax(min-content, 1fr) min-content; */
    grid-template-columns:2vw repeat(10, minmax(min-content, 1fr)) 2vw;
    grid-template-rows: .2vh min-content min-content 1fr min-content;
    row-gap: 2rem;
    row-gap: calc(2vw);
}

/* Header */
 header {
    text-align: center;
    grid-column: 2/12;
    grid-row: 2/3;
    background-color: #E68369;

    display: grid;
    row-gap: calc(2vw);

    text-transform: uppercase;
}

.header-title {
    letter-spacing: calc(.2vw);
}



/* Stripe */
.operations {
    grid-column: 3/11;
    grid-row: 3/4;
    background-color: #e6b069;
}

.levels-controller {
    display: grid;
    grid-template-columns: 1fr repeat(5, minmax(min-content, 4rem)) 1fr;
    justify-items: center;
    align-items: center;
}

.new-game {
    /* grid-column: 2/3; */
    grid-column:6/7;
}

.hard{
    /* grid-column:4/5; */
    grid-column: 2/3;
    /* grid-column: 3/4; */
    /* grid-row: 1/2; */
}

.medium {
    grid-column: 4/5;
}

.easy {
    /* grid-column:6/7; */
    grid-column: 6/7;

}

.btn {
    padding: 0rem .1rem;
    font-family: var(--f-pr);
    font-size: clamp(2rem, 3vw, 3rem);
    background-color: transparent;
    outline: none;
    border: none;
    /* height: fit-content;
    width: fit-content; */
    color: var(--color);
    text-shadow: 4px 4px 2px var(--txt-sha);
    text-shadow: 3px 3px 0px var(--txt-sha2);
    transition: text-shadow .2s ease-in;
    transition: transform .3s ease-in;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    text-shadow:0px 0px 0px #242424;
}

.active {
    color: var(--txt-sha2);
    transform: scale(1.3);
    text-shadow: 0px 0px 10px var(--txt-sha2);
}

/* MAIN Container */
.main-container {
    grid-row: 4/5;
    grid-column: 2/12;
    background-color: blanchedalmond;
    background-color: #c7e669;

    display: grid;
    grid-template-columns: 0fr 2fr 0fr;
}

.main-container > * {
    border: 5px solid white;
}

.timer-section {
    background-color: rgba(255, 0, 255, 0.313);
    overflow: hidden;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 3rem;
}

.timer {
    /* border: 1px solid; */
}

.timer--title {
    background-color: #e8e8e8;
}

.timer--clock {
    display: grid;
    grid-template-columns: repeat(3,max-content);
}









.boxes-section {
    background-color: rgb(190, 57, 190);
}

.container-boxes {
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: repeat(3, minmax(min-height, 1fr));
    gap: calc(2vw + 1rem);
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;

}


.box {
    width: clamp(6rem, 7vw, 10rem);
    height: clamp(6rem, 7vw, 10rem);
    background-color: orangered;
}





.scores-section {
    background-color: rgb(108, 14, 108);
    font-size: 3rem;
    display: grid;
    grid-template-rows: repeat(7, minmax(min-content, 1fr));
    justify-content: center;
    row-gap: 3vh;
    overflow: hidden;
}

.score--title {
    /* background-color: #e8e8e8; */
    grid-row: 2/3;
}

.score--list {
    list-style-type: none;
    /* background-color: #69e6a8; */
    grid-row: 3/-1;
}

    .score--list__record {}
    .score--list__record {}




/* FOOTER */
/* Footer */
footer {
    grid-column: 3/11;
    grid-row: 5/6;
    background-color:#69e6a8;
    color: green;

    display: flex;
    gap: .5rem;
    font-size: 1.5rem;
    justify-content: center;
}


.footer-copyright {

}

.footer-links {
    /* list-style: none; */
    display: flex;
    gap: .5rem;
}

.footer-links__link {

}
